

*{
    margin: 0;
    padding: 0;
}


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header{
    background-color: #1A0B2E;
    padding-top: 30px;

}


.logo-head img {
   
    width: 200px;
    height: 30px;
   
}



nav{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
   
}

nav .manu{
    display: flex;
    justify-content: space-between;
   
    gap: 32px;
    list-style-type: none;

}

.manu a{
    font-size: 1.1rem;
    font-weight: 500px;
    color: white;
     text-decoration: none;
}

.btn{
    font-size: 1rem;
    font-weight:bold;
    color: white;
    padding: 12px 40px 12px 16px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(30deg, #F7E93F,#9100F8);
}





/* banner section */




/* .banner { */
    /* background-image: url(../assets/bannerUP.jpg); */
   
    /* width: 99%; */ 
    /* padding-right: 20px;
    padding-bottom:150px; */
    /* height: 720px; */
    

    
    /* justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
     */

   
 .circle-icon{
    
    bottom: 250px;
    left: 800px;
    position: absolute;
    top: 200px;
    
}

.micro-icon{
    position: absolute;
    bottom: 450px;
    left: 912px;
    
}

.btn-2{

    position: absolute;
    bottom: 700px;
    left: 1030px; 

}

.btn-2 .text{
    font-size: 18px;
    font-weight: 700px;
    padding: 8px 16px 8px 16px ;
    border-radius: 20px;
    background-color: #00FF88;
    border: none;
}

.text-area h1{
    font-size: 3.7rem;
    font-weight: 800px;
    color: white;
    position: absolute;
    bottom: 230px;
    top: 550px;
    left: 820px;
}

.text-area p{
    font-size: 1rem;
    font-weight: 400px;
    position: absolute;
    bottom: 270px;
    left: 700px;
    color: white;
    
}

.btn-3{
    padding: 12px 20px 12px 38px;
    border-radius: 20px;
    background: linear-gradient(30deg, #F7E93F,#9100F8);
    border: none;
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    position: absolute;
    bottom: 198px;
    left: 765px;
    

}




.btn-4{
    padding: 12px 20px 12px 48px ;
    border-radius: 20px;
    background: #00FF88;
    border: none;
    font-size: 1rem;
    font-weight: 400px;
    position: absolute;
    bottom: 198px;
    left: 990px;

}














/* podcast section */






#podcast-content{
    background-color: #1A0B2E;
    height: 720px;
  
}

.Podcast{
    width: 1200px;
    height: 222px;
    /* border: 2px solid white; */
    margin: 0 auto;

}

.head-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding-top: 60px;
    text-align: center;
}

.paragraph{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding-top: 16px;
    text-align: center;
}


.mark-text{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-top: 165px;
}

.mark-text h1{
    font-size: 3rem;
    font-weight: 900px;
    color: #00FF88;
}

.mark-text p{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding-top: 16px;
}








/* Why Choose TechWave */


#grid-section{
    background-color: #230E3D;
   
    
    height: 1121px;



}

.text-cont h1{
    font-size: 3rem;
    color: white;
    padding-top: 120px;
    padding-left: 680px;
    padding-bottom: 40px;
}
.grid-content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(220px, auto);
    gap: 30px;
    border-radius: 20px;
    
    
    
    
}

.grid-one{
    grid-row: span 2;
    background-color: rgba(53, 17, 101, 0.4);
}

.grid-two, .grid-three, .grid-four{
    grid-column: span 2;
    background-color:rgba(53, 17, 101, 0.4);
}

.grid-five{
    
    background-color: rgba(53, 17, 101, 0.4);
}

.grid-content h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding-left: 40px;
}

.grid-content p{
    font-size: 16px;
    font-weight: 400px;
    color: white;
    padding-left: 40px;
    padding-top: 17px;
}

.grid-content img{
    padding-left: 40px;


}

.grid-one img{
    padding-top: 107px;
}

.grid-one h2{
    padding-top: 16px;
}

.grid-one p{
    padding-top: 16px;
    padding-right: 40px;
}


.grid-two img{
    padding-top: 40px;

}

.grid-four img{
    padding-top: 45px;
}

.grid-five img{
    padding-top: 40px;
}

.grid-two h2{
    padding-top: 16px;

}

.grid-three h2{
    padding-top: 16px;

}

.grid-four .grid-five h2{
    padding-top: 16px;

}



.grid-three img{
    padding-top: 40px;

}

































/* Featured Episodes section */





#Featured-Episodes{
    background-color: #1A0B2E;
    
 
}

#Featured-Episodes .card-container{
    padding-left: 340px;
    
}

.card-container {
    display: flex;
    gap: 40px;
    padding: 0 auto;
   
}

.head{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.card{
    width: 380px;
     background-color: #250D44;
    border-radius: 20px;
    
}

.card .vedio{
    width: 100%;
    border-radius: 20px;
    
}

.card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 24px;

}

.card p{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding: 0 22px 0 22px;
}

.card h5{
    font-size: 1rem;
    font-weight: 500px;
    color: #00FF88;
    padding: 24px;
}





/* Meet-the-Host */


#container-host{
    /* max-width: 1910px; */
    background-color: #1A0B2E;
    padding-bottom: 120px;
    
}

.body-container{
    max-width: 1200px;
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 15px;
    
    
}

#container-host h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding-left: 760px;
    padding-top: 120px;
    padding-bottom: 40px;

    
}

.host-image{
    width: 200px;
    height: 200px;
    margin: 40px 0 40px 40px;
}

.text-section h2{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-top: 48.5px;
    padding-left: 24px;
}

.text-section p{
    font-size: 1rem;
    font-weight: 300px;
    color: white;
    padding-left: 24px;
    margin: 16px 40px 0 0;
}

.icons-section {
    padding-left: 24px;
    padding-top: 16px;
    
  
}

.icons-section, .sets, T-01, T-02, T-03, T-04{
    display: flex;
    gap: 15px;
    
}

.T-01{
    border: 2px solid #533C72;
    padding: 10px;
    border-radius: 100%;
}

.T-02{
    border: 2px solid #533C72;
    padding: 10px;
    border-radius: 100%;
}

.T-03{
    border: 2px solid #533C72;
    padding: 10px;
    border-radius: 100%;
}

.T-04{
    border: 2px solid #533C72;
    padding: 10px;
    border-radius: 100%;
}







/* footer section */


#footer{
    background-image: url(../assets/foote\ BI.png);
    height: 412px;
    

}

/* 
#footer .head-text .H7{
  
    position: absolute;
    left: 50px;
    right: 60px;
    bottom: 5px;
    top: 2950px;
    
}

.icons-text{
    display: flex;
    justify-content: space-between;
    margin: 90px 408px 56px;
    position: absolute;
    bottom: 50px;
    top: 3000px;
    padding-left: 280px;
    align-items: center;
    color: white;
}

.icons-text div{
    display: flex;
    align-items: center;
    gap: 50px;
}

/* .head-text h5{
    display: flex;
    position: absolute;
    left: 500px;
    right: 00px;
} */

/* #footer p{
    position: absolute;
    bottom: 50px;
    top: 3180px;
    left: 760px;
    color: white;
} */ */


.footer{
    max-width: 1900PX;
}


.logo img {
    padding-left: 750px;
    padding-top: 120px;
    width: 410px;
    height: 60px;
    
}

.icons-name{
    display: flex;
    align-items: center;
} 

.icons-name h4{
    color: white;
    font-size: 1rem;
    font-weight: 400px;
}

.icons-name .container{
    display: flex;
    gap: 30px;


}

.icons-name{
    padding-left: 700px;
    padding-top: 20px;
}




/* media quary section */


@media screen and ( mix-width : 576px ){


    li a{
        flex-direction: column;
    }

    .banner-image{
       flex-direction: column;
       width: 600px;
    }

    .logo-head img{
        width: 100px;
        height: 10px;

    }

    .mark-text{
    width: 200px;
    flex-direction: column;
    
    text-align: center;
    margin: 0 auto;
    
}



}






 
