

*{
    margin: 0;
    padding: 0;
}


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header{
    background-color: #1A0B2E;
    padding-top: 30px;

}


.logo{
    font-size: 21px;
    color: white;
    
}



nav{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
   
}

nav .manu{
    display: flex;
    justify-content: space-between;
   
    gap: 32px;
    list-style-type: none;

}

.manu a{
    font-size: 1.1rem;
    font-weight: 500px;
    color: white;
     text-decoration: none;
}

.btn{
    font-size: 1rem;
    font-weight:bold;
    color: white;
    padding: 12px 40px 12px 16px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(30deg, #F7E93F,#9100F8);
}





/* banner section */




.banner{
    background-image: url(../assets/bannerUP.jpg);
    /* width: 99%; */
    /* padding-right: 20px;
    padding-bottom:150px; */
    height: 720px;
    /* display: flex; */

    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.circle-icon{
    position: absolute;
    bottom: 250px;
    left: 800px;
    
}

.micro-icon{
    position: absolute;
    bottom: 340px;
    left: 912px;
    
}

.btn-2{

    position: absolute;
    bottom: 550px;
    left: 1030px; 

}

.btn-2 .text{
    font-size: 18px;
    font-weight: 700px;
    padding: 8px 16px 8px 16px ;
    border-radius: 20px;
    background-color: #00FF88;
    border: none;
}

.text-area h1{
    font-size: 3.7rem;
    font-weight: 800px;
    color: white;
    position: absolute;
    bottom: 230px;
    top: 480px;
    left: 820px;
}

.text-area p{
    font-size: 1rem;
    font-weight: 400px;
    position: absolute;
    bottom: 150px;
    left: 700px;
    color: white;
}

.btn-3{
    padding: 12px 20px 12px 48px ;
    border-radius: 20px;
    background: linear-gradient(30deg, #F7E93F,#9100F8);
    border: none;
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    position: absolute;
    bottom: 90px;
    left: 790px;

}

.btn-4{
    padding: 12px 20px 12px 48px ;
    border-radius: 20px;
    background: #00FF88;
    border: none;
    font-size: 1rem;
    font-weight: 400px;
    
    
    position: absolute;
    bottom: 90px;
    left: 990px;

}




/* podcast section */


#podcast-content{
    background-color: #1A0B2E;
    height: 720px;
  
}

.Podcast{
    width: 1200px;
    height: 222px;
    /* border: 2px solid white; */
    margin: 0 auto;

}

.head-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding-top: 60px;
    text-align: center;
}

.paragraph{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding-top: 16px;
    text-align: center;
}


.mark-text{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-top: 165px;
}

.mark-text h1{
    font-size: 3rem;
    font-weight: 900px;
    color: #00FF88;
}

.mark-text p{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding-top: 16px;
}





/* Featured Episodes section */





#Featured-Episodes{
    background-color: #1A0B2E;
    
 
}

#Featured-Episodes .card-container{
    padding-left: 340px;
}

.card-container {
    display: flex;
    gap: 30px;
    padding: 0 auto;
}

.head{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.card{
    width: 380px;
    border: 2px solid red;
    border-radius: 20px;
    
}

.card .vedio{
    width: 100%;
    border-radius: 20px;
    
}

.card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 24px;

}

.card p{
    font-size: 1rem;
    font-weight: 400px;
    color: white;
    padding: 0 22px 0 22px;
}

.card h5{
    font-size: 1rem;
    font-weight: 600px;
    color: #00FF88;
    padding: 24px;
}

