

*{
    margin: 0;
    padding: 0;
}


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header{
    background-color: #1A0B2E;
    padding-top: 30px;

}


.logo{
    font-size: 21px;
    color: white;
    
}



nav{
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
   
}

nav .manu{
    display: flex;
    justify-content: space-between;
   
    gap: 32px;
    list-style-type: none;

}

nav a{
    font-size: 1.1rem;
    font-weight: 500px;
    color: white;
     text-decoration: none;
}

.btn{
    font-size: 1rem;
    font-weight:bold;
    color: white;
   
    padding: 12px 40px 12px 16px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(30deg, #F7E93F,#9100F8);
}

